body {
    font-family: 'Roboto', sans-serif;
}

.hero-section {
    background-color: #004b87;
    height: 80vh;
    min-height: 500px;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

iframe.mx-auto {
    max-width: 100%;
}